.yourself {
    width: 92vw;
    margin: 0 auto;
}

.yourself h1 {
    padding: 6vh;
    font-size: 7vh;
    text-align: center;
}
#info_bg {
   background-image: url('../images/img48.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   background-blend-mode: soft-light;
   opacity: 1;
   color: rgb(20, 3, 117);
   height: 120vh;
  }

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    height: 72vh;
    width: 50%;
    background-color: rgb(224, 210, 252);
    margin: 1vh;
    text-align: center;
  }

.left {
    height: 82vh;
    width: 92vw;
    background-color: rgb(180, 180, 196);
    margin: 1vh;
    text-align: center;
    font-family: 'Alegreya', serif;
}

.left_text {
    margin-top: 2vh;
    color: rgb(45, 44, 85);
  }

.left_text {
    margin: 0 auto;
    width: 80%;
    word-spacing: 0.75vh;
    font-size: 2.2vh;
    font-weight: bold;
}

.left_text p {
    text-align: center;
    word-spacing: 1vh;
    font-size: 3vh;
    padding-top: 40px;
  }

  .left_text img {
    height: 20vh;
    margin-top: 5vh;
    border-radius: 50%;
    opacity: 0.9;
  }
  
  .left_text img:hover {
    opacity: 1;
    transition: 0.45s ease-in-out;
  }

.right {
    height: 72vh;
    width: 50%;
    background-color: rgb(255, 255, 255);
    color: rgb(45, 44, 85);
    margin: 1vh;
    font-size: 2.5vh;
    font-family: 'Alegreya', serif;    
}

.right {
    height: 82vh;
    width: 92vw;
    background-color: rgb(180, 180, 196);
    margin: 1vh;
    text-align: center;    
}

.right {
    font-size: 2.4vh;
  }

.right_text {
    padding: 3.5vh;
    padding-top: 0;
    margin-left: 3vh;
}

.right_text h3{
    text-align: center;
    font-style: none;
    word-spacing: 1vh;
    font-size: 3vh;
    padding-top: 200px;
    padding-bottom: 40px;
  }

.right_text p{
    padding: 1vh;
    
}


.button {
    background-color: #ffffffbb;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Alegreya', serif;
}

@media screen and (max-width: 1050px)  {
    .left_text, .right_text, .left, .right{
        width: 100%;
        display: block;
    }

    .yourself {
        height: auto;
    }

    #info_bg {
        height: auto;
    }
}