*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;   
}

.container_full {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container{
    width: 100%;
    margin: auto;
}

#main {
    min-height: 100%;
    overflow: auto;
    /* padding-bottom: 100px; */
}

/*****************header*****************/
/* header {
    height: 20vh;
} */
               /**********navigation bar**********/
header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.2rem 0;
    -webkit-box-shadow: 7px 10px 21px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 21px -18px rgba(0,0,0,0.75);
    box-shadow: 7px 10px 21px -18px rgba(0,0,0,0.75);
    position: relative;
    width: 100%;
    height: 10vh;
}

header nav .up p {
    position: relative;
    cursor: pointer;
    transition: 0.7s;
    font-size: 1.5rem;
    font-family: 'Supermercado One', cursive;
    font-weight: bold;
}

header nav .up p:hover {
    transform: scale(1.2);
}

header div ul {
    display: flex;
    justify-content: space-between;
}

header div li {
    list-style: none;
    margin: 0 1rem;
}

header div a {
    text-decoration: none;
    color: #454545;
    font-size: 2.5vh;
}

header div a {
    color: rgb(0, 0, 0);
    font-size: 2.5vh;
    transition: 0.7s;
}

.list {
    position: relative;
    cursor: pointer;
    transition: 0.7s;
    font-size: 1.5rem;
}

.list:hover{
    transform: scale(1.5);
}

.b1 ~ p{
    color: aqua;
    list-style: none;
}



/**********************footer***************************/

.footer_bg {
    background-color: #191919;
    color: #fff;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 4rem;
    font-size: 1.25rem;
}